body {
    background-color: #FAFAFA;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.rounded {
    border-radius: 20px !important;
    overflow: hidden;
}

.car {
    width: 1160px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.sidebar-item {
    font-size: 1.2rem;
    text-decoration: none;
}

.icon {
    text-decoration: none;
    padding-right: 10px;
}

.icon-hover {
    color: white;
}

.link {
    color: #000000;
    text-decoration: none;
}

.link:hover {
    color: white;
}

@media (min-width:992px) {
    /* .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    } */
}